<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatRWKV_PC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatRWKV_PC.Properties.Settings>
            <setting name="ModelName" serializeAs="String">
                <value />
            </setting>
            <setting name="Strategy" serializeAs="String">
                <value>cpu fp32</value>
            </setting>
            <setting name="TokenCount" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ShowRWKV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSpeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChatLang" serializeAs="String">
                <value>Chinese</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>简体中文</value>
            </setting>
            <setting name="CppModelName" serializeAs="String">
                <value />
            </setting>
            <setting name="Socket_StartSleep" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Socket_RecvTimeout" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="CpuInstruction" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowRwkvCpp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RwkvCpp_PromptType" serializeAs="String">
                <value>QA</value>
            </setting>
            <setting name="QuantizeFormat" serializeAs="String">
                <value>Q8_0</value>
            </setting>
            <setting name="Temperature" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TopP" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="PresencePenalty" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="CountPenalty" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="IsAutoCmd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontFamilyName" serializeAs="String">
                <value>新宋体</value>
            </setting>
            <setting name="Cpp_LANGUAGE" serializeAs="String">
                <value>Chinese</value>
            </setting>
        </ChatRWKV_PC.Properties.Settings>
    </userSettings>
</configuration>